<script setup>
import { defineProps, onMounted } from 'vue'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import Avatar from '@/Components/ImageAvatar.vue';
import { Link, useForm, usePage } from '@inertiajs/vue3';
import Multiselect from '@vueform/multiselect'
import '@vueform/multiselect/themes/default.css'

const props = defineProps({
    mustVerifyEmail: {
        type: Boolean,
    },
    status: {
        type: String,
    },
    genres: {
        type: Array,
    },
    profile: {
        type: Array,
    },
});

const user = usePage().props.auth.user;

const form = useForm({
    name: props.profile.name,
    email: props.profile.email,
    avatar: props.profile.avatar,
    phone: props.profile.phone,
    music_genres : props.profile.music_genres.map((genre) => genre.id),
});

onMounted(() => {
//   form.musicGenres.value = props.profile.musicGenres
})
</script>

<template>
    <section>
        <header>
            <h2 class="text-lg font-medium text-gray-900">Información del perfil</h2>
            <p class="mt-1 text-sm text-gray-600">
                Actualizar información del perfil
            </p>
        </header>

        <form @submit.prevent="form.post(route('profile.update'))" class="mt-6 space-y-6" enctype="multipart/form-data">
             <div class="mb-2">
                <Avatar class="mx-auto" :defaultImg="form.avatar ? `storage/${form.avatar}`: null" @change="(value) => form.avatar = value"></Avatar>
                <input type="hidden" name="avatar" v-model="form.avatar">
            </div>
            <div>
                <InputLabel for="name" value="Name" />
                <TextInput
                    id="name"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.name"
                    required
                    autofocus
                    autocomplete="name"
                />
                <InputError class="mt-2" :message="form.errors.name" />
            </div>

            <div>
                <InputLabel for="email" value="Email" />
                <TextInput
                    id="email"
                    type="email"
                    class="mt-1 block w-full"
                    v-model="form.email"
                    required
                    autocomplete="username"
                />
                <InputError class="mt-2" :message="form.errors.email" />
            </div>
            <div class="">
                <InputLabel for="phone" value="Phone" />
                <MazPhoneNumberInput default-country-code="SV" v-model="form.phone"></MazPhoneNumberInput>
                <InputError class="mt-2" :message="form.errors.phone" />
            </div>

             <div class="">
                <InputLabel for="interest" value="Preferencias musicales" />
                <Multiselect
                    v-model="form.music_genres"
                    mode="tags"
                    :close-on-select="false"
                    :searchable="true"
                    :options="genres?.map((e) => ({ value: e.id, label: e.name}))">
                </Multiselect>
                <InputError class="mt-2" :message="form.errors.music_genres" />
            </div>

            <div v-if="mustVerifyEmail && user.email_verified_at === null">
                <p class="text-sm mt-2 text-gray-800">
                    Your email address is unverified.
                    <Link
                        :href="route('verification.send')"
                        method="post"
                        as="button"
                        class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                        Click here to re-send the verification email.
                    </Link>
                </p>

                <div
                    v-show="status === 'verification-link-sent'"
                    class="mt-2 font-medium text-sm text-green-600"
                >
                    A new verification link has been sent to your email address.
                </div>
            </div>

            <div class="flex items-center gap-4">
                <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                <Transition
                    enter-active-class="transition ease-in-out"
                    enter-from-class="opacity-0"
                    leave-active-class="transition ease-in-out"
                    leave-to-class="opacity-0"
                >
                    <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Saved.</p>
                </Transition>
            </div>
        </form>
    </section>
</template>
