<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <Head title="Inicio" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Inicio</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="relative bg-white shadow-sm sm:rounded-lg pl-24">
                    <img src="/3d-illustration.png" class="h-28 absolute -top-5 -left-6" alt="app">
                    <div class="p-6 text-gray-900">
                        <p class="font-medium">Bienvenido ¡Ya has iniciado sesión!</p>
                        <p class="text-slate-500">Hola {{ $page.props.auth.user.name }}, gracias por unirte a nosotros. Esperamos que disfrutes de nuestra plataforma.</p>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
