<script setup>
import { router, Head, Link, useForm } from '@inertiajs/vue3';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';
import DataTable from '@/Components/DTable.vue'
import { ref } from 'vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import DangerButton from '@/Components/DangerButton.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';
import Multiselect from '@vueform/multiselect'
import '@vueform/multiselect/themes/default.css'
import Avatar from '@/Components/ImageAvatar.vue';
import { MusicalNoteIcon, UserIcon } from '@heroicons/vue/24/solid'

defineProps({
    discs: {
        type: Array,
    },
    genres: {
        type: Array,
    },
    artists: {
        type: Array,
    }
});

const defForm = {
    id: null,
    name: '',
    album: '',
    year: '',
    image: '',
    artist_id: '',
    music_genre_id: '',
}

const urlParams = new URLSearchParams(window.location.search);
const search = ref(urlParams.get('search') || '')
const showModalDisc = ref(false)
const form = useForm(defForm)

const submitDiscForm = () => {
    const method = form.id ? 'update' : 'store'
    form.transform((data) => ({
        ...data,
        _method: form.id ? 'put' : 'post',
        image: typeof data.image == 'string' ? '' : data.image,
    })).post(route(`discs.${method}`, form.id), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onFinish: () => {
            if (!form.hasErrors) {
                form.reset()
            }
        },
    });
}

const deleteDiscForm = (disk) => {
    form.delete(`discs/${disk.id}`);
}

const setImage = (imgFile) => {
    form.image = imgFile
}

const showModal = (disk = undefined) => {
    form.defaults(disk);
    form.reset();
    showModalDisc.value = true;
}

const closeModal = () => {
    form.defaults(defForm);
    form.reset();
    showModalDisc.value = false;
}

const debounce = (fn, delay) => {
  var timeoutID = null
  return function () {
    clearTimeout(timeoutID)
    var args = arguments
    var that = this
    timeoutID = setTimeout(function () {
      fn.apply(that, args)
    }, delay)
  }
}

const onSearch = debounce(() => {
    router.get(route(route().current()),
        { search: search.value },
        {
            preserveState: true,
            replace: true,
        }
    );
}, 500)
</script>

<template>
    <Head title="Discos" />
    <AuthenticatedLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex justify-between">
                    <div>
                        <TextInput autofocus @keyup="onSearch" v-model="search" type="search" placeholder="Realizar busqueda..." class="mt-1 block w-full"/>
                    </div>
                    <PrimaryButton @click="() => showModal()">
                        <MusicalNoteIcon class="w-5 h-5 mr-2"></MusicalNoteIcon>
                        Crear un nuevo disco
                    </PrimaryButton>
                </div>
                <DataTable :headers="[
                    { name: 'id', title: '#' },
                    { name: 'image', title: 'Portada' },
                    { name: 'name', title: 'Nombre' },
                    { name: 'album', title: 'Álbum' },
                    { name: 'year', title: 'Año' },
                    { name: 'artist_id', title: 'Artista' },
                    { name: 'music_genre_id', title: 'Género' },
                    { name: 'created_at', title: 'Registro' },
                    { name: 'options', title: 'Opciones' },
                ]"
                :body="discs">
                    <template #row-image="{ row }">
                        <img :src="`/storage/${row.image}`" :alt="row.name" class="w-16 h-16 min-w-[4rem] border p-0.5 bg-white border-slate-200 shadow-sm rounded-full" />
                    </template>
                    <template #row-artist_id="{ row }">
                        <div class="flex items-center bg-blue-300 text-blue-800 px-2 py-0.5 font-medium text-center rounded-3xl">
                            <UserIcon class="w-4 h-4 mr-2"></UserIcon>
                            {{  row.artist.name }}
                        </div>
                    </template>
                    <template #row-music_genre_id="{ row }">
                        <div class="bg-slate-200 px-2 py-0.5 font-medium text-center rounded-3xl">
                            {{  row.music_genre.name }}
                        </div>
                    </template>
                    <template #row-options="{ row }">
                        <div class="flex gap-2">
                            <SecondaryButton @click="() => showModal(row)"> Actualizar </SecondaryButton>
                            <DangerButton @click="() => deleteDiscForm(row)"> Borrar </DangerButton>
                        </div>
                    </template>
                </DataTable>
            </div>
        </div>

        <Modal :show="showModalDisc" @close="closeModal">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900 mb-4">
                    {{ !form.id ? 'Crear' : 'Actualizar' }} disco
                </h2>

                <div class="mb-4">
                    <Avatar class="mx-auto" :default-img="form.image ? `/storage/${form.image}` : null" @change="setImage"></Avatar>
                    <input type="hidden" name="image" v-model="form.image">
                    <InputError class="mt-2 text-center" :message="form.errors.image" />
                </div>

                <div class="mb-4">
                    <InputLabel for="name" value="Nombre" />
                    <TextInput
                        id="name"
                        type="text"
                        class="mt-1 block w-full"
                        v-model="form.name"
                        required
                    />
                    <InputError class="mt-2" :message="form.errors.name" />
                </div>

                <div class="flex gap-2">
                    <div class="mb-4 flex-1">
                        <InputLabel for="album" value="Álbum" />
                        <TextInput
                            id="album"
                            type="text"
                            class="mt-1 block w-full"
                            v-model="form.album"
                            required
                        />
                        <InputError class="mt-2" :message="form.errors.album" />
                    </div>
                    <div class="mb-4 w-40">
                        <InputLabel for="year" value="Año" />
                        <TextInput
                            id="year"
                            type="number"
                            class="mt-1 block w-full"
                            v-model="form.year"
                            min="1900"
                            :max="new Date().getFullYear()"
                            required
                        />
                        <InputError class="mt-2" :message="form.errors.album" />
                    </div>
                </div>

                <div class="mb-4">
                    <InputLabel for="artist_id" value="Artista" />
                    <Multiselect
                        v-model="form.artist_id"
                        :searchable="true"
                        :options="artists.map((e) => ({ value: e.id, label: e.name}))">
                    </Multiselect>
                    <InputError class="mt-2" :message="form.errors.artist_id" />
                </div>

                <div class="mb-4">
                    <InputLabel for="music_genre_id" value="Género" />
                    <Multiselect
                        v-model="form.music_genre_id"
                        :searchable="true"
                        :options="genres.map((e) => ({ value: e.id, label: e.name}))">
                    </Multiselect>
                    <InputError class="mt-2" :message="form.errors.music_genre_id" />
                </div>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton type="button" @click="closeModal"> Cancelar </SecondaryButton>
                    <PrimaryButton
                        type="submit"
                        class="ms-3"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="submitDiscForm"
                    >
                        {{ !form.id ? 'Crear' : 'Actualizar' }} disco
                    </PrimaryButton>
                </div>
            </div>
        </Modal>
    </AuthenticatedLayout>
</template>
