<script setup>
import { Head, Link, useForm, usePage } from '@inertiajs/vue3';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import DangerButton from '@/Components/DangerButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';
import { ref } from 'vue';
import { router } from '@inertiajs/vue3'
import Multiselect from '@vueform/multiselect'
import '@vueform/multiselect/themes/default.css'
import Avatar from '@/Components/ImageAvatar.vue';
import DataTable from '@/Components/DTable.vue'
import { CheckCircleIcon, UserCircleIcon } from '@heroicons/vue/24/solid'
// import { Head, Link, useForm } from '@inertiajs/vue3'


defineProps({
    profiles: {
        type: Array,
    },
});

const isValidUrl = urlString=> {
    var urlPattern = new RegExp('^(https?:\\/\\/)?'+ // validate protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // validate domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // validate OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // validate port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // validate query string
        '(\\#[-a-z\\d_]*)?$','i'); // validate fragment locator

    return !!urlPattern.test(urlString);
}

const defForm = {
    id: null,
    name: '',
    email: '',
    type: '',
    phone: '',
    avatar: '',
    password: '',
    music_genres: [],
}

const form = useForm(defForm)
const showModalProfile = ref(false)

const showModal = (profile = undefined) => {
    if (profile !== undefined) {
         let profileData = {
        id: profile.id,
        name: profile.name,
    }
    form.defaults(profileData);
    }

    form.reset();
    showModalProfile.value = true;
}

const closeModal = () => {
    form.defaults(defForm);
    form.reset();
    showModalProfile.value = false;
}


const submitForm = () => {
    const method = form.id ? 'update' : 'store'
    form.transform((data) => ({
        ...data,
        _method: form.id ? 'put' : 'post',
        avatar:  typeof data.avatar == 'string' ? '' : data.avatar,
        music_genres: data.type == 'Administrador' ? '' : data.music_genres,
    })).post(route(`profiles.${method}`, form.id), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onFinish: () => {
            if (!form.hasErrors) {
                form.reset()
            }
        },

    });
}

const deleteUserForm = (profile) => {
    form.delete(`profiles/${profile.id}`);
}


const headers = () => {
       let headers = [{ name: 'id', title: '#' },
           { name: 'name', title: 'Nombre' },{ name: 'user_count', title: 'Usuarios activos' }]

        if (usePage().props.auth.user.profile_id == 1) {
            headers.push({ name: 'options', title: 'opciones' })
        }
    return headers

}
</script>

<template>
    <Head title="Roles" />
    <AuthenticatedLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <PrimaryButton @click="() => showModal()">
                    <UserCircleIcon class="w-5 h-5 mr-1"></UserCircleIcon>
                    Crear un nuevo Role
                </PrimaryButton>
                <DataTable :headers="headers()"
                    :body="profiles">
                    <template #row-id="{ row }">
                        {{ row.id }}
                    </template>
                    <template #row-name="{ row }">
                        {{  row.name }}
                    </template>
                    <template #row-user_count="{ row }">
                        {{  row.user_count }}
                    </template>
                    <template #row-options="{ row }">
                        <div class="flex gap-2" v-if="row.id != 1">
                            <SecondaryButton @click="() => showModal(row)"> Actualizar </SecondaryButton>
                            <DangerButton @click="() => deleteUserForm(row)" :disabled="row.user_count > 0" :title="`${row.user_count > 0 ? 'No se puede borrar': '' }`"> Borrar </DangerButton>
                        </div>
                    </template>
                </DataTable>
            </div>
        </div>
        <Modal :show="showModalProfile" @close="closeModal">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900 mb-4">
                    {{ !form.id ? 'Crear' : 'Actualizar' }} Perfil
                </h2>
                <div class="mb-4">
                    <InputLabel for="name" value="Nombre" />
                    <TextInput
                        id="name"
                        type="text"
                        class="mt-1 block w-full"
                        v-model="form.name"
                        required
                    />
                    <InputError class="mt-2" :message="form.errors.name" />
                </div>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton type="button" @click="closeModal"> Cancelar </SecondaryButton>
                    <PrimaryButton
                        type="submit"
                        class="ms-3"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="submitForm"
                    >
                    {{ !form.id ? 'Crear' : 'Actualizar' }} Role
                    </PrimaryButton>
                </div>
            </div>
        </Modal>
    </AuthenticatedLayout>
</template>

<style>
.bg-dots-darker {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-dots-lighter {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
    }
}
</style>
