<script setup>
import { Head, Link, useForm, usePage } from '@inertiajs/vue3';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import DangerButton from '@/Components/DangerButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';
import { ref } from 'vue';
import { router } from '@inertiajs/vue3'
import Multiselect from '@vueform/multiselect'
import '@vueform/multiselect/themes/default.css'
import Avatar from '@/Components/ImageAvatar.vue';
import DataTable from '@/Components/DTable.vue'
import { CheckCircleIcon, UserCircleIcon } from '@heroicons/vue/24/solid'
// import { Head, Link, useForm } from '@inertiajs/vue3'


defineProps({
    users: {
        type: Array,
    },
    genres: {
        type: Array,
    },
    types: {
        type: Array,
    }
});

const isValidUrl = urlString=> {
    var urlPattern = new RegExp('^(https?:\\/\\/)?'+ // validate protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // validate domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // validate OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // validate port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // validate query string
        '(\\#[-a-z\\d_]*)?$','i'); // validate fragment locator

    return !!urlPattern.test(urlString);
}

const defForm = {
    id: null,
    name: '',
    email: '',
    profile_id: '',
    phone: '',
    avatar: '',
    password: '',
    music_genres: [],
}

const form = useForm(defForm)
const showModalUser = ref(false)

const showModal = (user = undefined) => {
    if (user !== undefined) {
         let userData = {
        id: user.id,
        name: user.name,
        email: user.email,
        phone: user.phone,
        profile_id: user.profile_id,
        avatar: user.avatar,
        music_genres: user.music_genres.map((genre) => genre.id),
    }
    form.defaults(userData);
    }

    form.reset();
    showModalUser.value = true;
}

const closeModal = () => {
    form.defaults(defForm);
    form.reset();
    showModalUser.value = false;
}

const setImage = (imgFile) => {
    form.avatar = imgFile
}

const submitForm = () => {
    const method = form.id ? 'update' : 'store'
    form.transform((data) => ({
        ...data,
        _method: form.id ? 'put' : 'post',
        avatar:  typeof data.avatar == 'string' ? '' : data.avatar,
        music_genres: data.type == 'Administrador' ? '' : data.music_genres,
    })).post(route(`user.${method}`, form.id), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onFinish: () => {
            if (!form.hasErrors) {
                form.reset()
            }
        }
    });
}

const deleteUserForm = (user) => {
    form.delete(`user/${user.id}`);
}


const headers = () => {
       let headers = [{ name: 'id', title: '#' },
                    { name: 'name', title: 'Nombre' },
                    { name: 'email', title: 'Correo' },
                    { name: 'profile_id', title: 'Rol' },
                    { name: 'email_verified_at', title: 'Verificado' },
                    { name: 'active', title: 'Activo' },
                    ]
        if (usePage().props.auth.user.profile_id == 1) {
            headers.push({ name: 'options', title: 'opciones' })
        }
    return headers

}
</script>

<template>
    <Head title="Usuarios" />
    <AuthenticatedLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <PrimaryButton @click="() => showModal()">
                    <UserCircleIcon class="w-5 h-5 mr-1"></UserCircleIcon>
                    Crear un nuevo usuario
                </PrimaryButton>
                <DataTable :headers="headers()"
                    :body="users">
                    <template #row-id="{ row }">
                        {{ row.id }}
                    </template>
                    <template #row-name="{ row }">
                        <img v-if="row.avatar !== null" class="w-10 h-10 rounded-full mr-2" :src="(row.avatar == '' ? 'https://ui-avatars.com/api/?name=U' : '/storage/'+row.avatar)" alt="Rounded avatar">
                        <img v-else class="w-10 h-10 rounded-full mr-2" src="https://ui-avatars.com/api/?name=U" alt="Rounded avatar">
                    </template>
                    <template #row-email_verified_at="{ row }">
                        <CheckCircleIcon class="w-5 h-5 mr-2 inline" :class="[ row.email_verified_at ? 'text-green-500' : 'text-slate-300' ]"></CheckCircleIcon>
                        {{ (row.email_verified_at == null ? 'NO' : 'SI') }}
                    </template>
                    <template #row-profile_id="{ row }">
                        {{ row.profile.name }}
                    </template>
                    <template #row-active="{ row }">
                        <CheckCircleIcon class="w-5 h-5 mr-2 inline" :class="[ row.active ? 'text-green-500' : 'text-slate-300' ]"></CheckCircleIcon>
                        {{ (row.active == 0 ? 'NO' : 'SI') }}
                    </template>
                    <template #row-options="{ row }">
                        <div class="flex gap-2" v-if="row.id != usePage().props.auth.user.id">
                            <SecondaryButton @click="() => showModal(row)"> Actualizar </SecondaryButton>
                            <DangerButton @click="() => deleteUserForm(row)"> Borrar </DangerButton>
                        </div>
                    </template>
                </DataTable>
            </div>
        </div>
        <Modal :show="showModalUser" @close="closeModal">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900 mb-4">
                    {{ !form.id ? 'Crear' : 'Actualizar' }} Usuario
                </h2>

                <div class="mb-2">
                    <Avatar class="mx-auto" :default-img="form.avatar ? `/storage/${form.avatar}` : null" @change="setImage"></Avatar>
                    <input type="hidden" name="avatar" v-model="form.avatar" />
                    <InputError class="mt-2 text-center" :message="form.errors.avatar" />
                </div>

                <div class="mb-4">
                    <InputLabel for="name" value="Nombre" />
                    <TextInput
                        id="name"
                        type="text"
                        class="mt-1 block w-full"
                        v-model="form.name"
                        required
                    />
                    <InputError class="mt-2" :message="form.errors.name" />
                </div>

                <div class="mb-4">
                    <InputLabel for="email" value="Correo electronico" />
                    <TextInput
                        id="email"
                        type="text"
                        class="mt-1 block w-full"
                        v-model="form.email"
                        required
                    />
                    <InputError class="mt-2" :message="form.errors.email" />
                </div>

                <div class="mb-4">
                    <InputLabel for="phone" value="Phone" />
                    <MazPhoneNumberInput default-country-code="SV" v-model="form.phone"></MazPhoneNumberInput>
                    <InputError class="mt-2" :message="form.errors.phone" />
                </div>

                <div class="mb-4">
                    <InputLabel for="type" value="Perfil de usuario" />
                    <Multiselect
                        v-model="form.profile_id"
                        :mode="'single'"
                        :options="types.map((e) => ({ value: e.id, label: e.name}))">
                    </Multiselect>
                    <InputError class="mt-2" :message="form.errors.music_genres" />
                </div>

                <div class="mb-4" v-if="form.profile_id!=1">
                    <InputLabel for="music_genres" value="Gustos musicales" />
                    <Multiselect
                        v-model="form.music_genres"
                        :searchable="true"
                        mode="tags"
                        :close-on-select="false"
                        :options="genres.map((e) => ({ value: e.id, label: e.name}))">
                    </Multiselect>
                    <InputError class="mt-2" :message="form.errors.music_genres" />
                </div>
                <div class="mb-4" v-if="form.id === null">
                        <InputLabel for="password" value="Contraseña" />
                        <TextInput
                            id="password"
                            type="password"
                            class="mt-1 block w-full"
                            v-model="form.password"
                            autocomplete="password"
                        />
                        <InputError class="mt-2" :message="form.errors.password" />
                </div>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton type="button" @click="closeModal"> Cancelar </SecondaryButton>
                    <PrimaryButton
                        type="submit"
                        class="ms-3"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="submitForm"
                    >
                    {{ !form.id ? 'Crear' : 'Actualizar' }} Usuario
                    </PrimaryButton>
                </div>
            </div>
        </Modal>
    </AuthenticatedLayout>
</template>

<style>
.bg-dots-darker {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-dots-lighter {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
    }
}
</style>
