<script setup>
import { onMounted, ref } from 'vue';

defineExpose({ focus: () => input.value.focus() });

const props = defineProps({
    headers: {
        type: Array,
        required: true
    },
    body: {
        type: Array,
        required: true
    }});
</script>

<template>
   <div class="overflow-auto bg-white rounded-lg border border-gray-200 shadow-md my-2">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-50">
        <tr>
            <th v-for="head in headers" :key="head.id" scope="col" class="px-6 py-4 font-medium text-gray-900"> {{ head.title }}</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
            <tr v-for="(row, i) in body" :key="i" class="hover:bg-gray-50">
                <td v-for="(head, j) in headers" :key="j" class="px-6 py-4">
                    <div v-if="$slots[`row-${head.name}`]">
                        <slot :name="`row-${head.name}`" :row="row">
                        </slot>
                    </div>
                    <div v-else>
                        {{ row[head.name] }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</template>
