<template>
    <div class="relative group block w-36 h-36">
        <button v-show="imgDataUrl" type="button" @click="clearImage" class="absolute -right-2 top-2 b bg-gray-900 text-white rounded-full p-2.5 z-20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
        <a class="flex items-center rounded-full text-white justify-center absolute opacity-0 group-hover:opacity-100 transition-opacity w-full h-full bg-black/50 z-10" @click="toggleShow">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
            </svg>
        </a>
        <div v-show="!renderImg" class="flex items-center rounded-full text-slate-300 bg-slate-100 justify-center absolute w-full h-full pointer-events-none group-hover:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
            </svg>
        </div>
        <my-upload field="img"
            @crop-success="cropSuccess"
            :noSquare="true"
            :width="300"
            :height="300"
            langType="es-MX"
            v-model="show"></my-upload>
        <img :src="renderImg" class="w-36 h-36 border p-2 bg-white border-slate-200 shadow rounded-full">
    </div>
</template>

<script setup>
    import { ref, computed } from 'vue';
    import myUpload from 'vue-image-crop-upload';

    const show = ref(false)

    const imgDataUrl = ref('')

    const props = defineProps({
        defaultImg: {
            Type: String,
            default: ''
        }
    })

    const renderImg = computed(() => {
        return imgDataUrl.value || props.defaultImg;
    });

    const emits = defineEmits([
        'change',
    ])

    const toggleShow = () => {
        show.value = !show.value;
    }

    const cropSuccess = async (url, fld) => {
        imgDataUrl.value = url;
        console.log(fld);
        var data = await parseToFile(url)
        emits('change', data)
    }

    const clearImage = () => {
        imgDataUrl.value = '';
        emits('change', imgDataUrl.value)
    }

    const parseToFile = async (url) => {
        var fileData = null
        await fetch(url)
            .then(res => res.blob())
            .then(blob => {
                fileData = new File(
                    [blob],
                    `img.${url.split(';')[0].split('/')[1]}`,
                    { type: url.split(';')[0].split(':')[1] })
            })

        return fileData
    }
</script>
