<script setup>
import GuestLayout from '@/Layouts/GuestLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import Avatar from '@/Components/ImageAvatar.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';
import { ref } from 'vue';
import Multiselect from '@vueform/multiselect'
import '@vueform/multiselect/themes/default.css'

defineProps({
    genres: {
        type: Array,
    },
});

const form = useForm({
    name: '',
    email: '',
    phone: '',
    avatar: '',
    interest : [],
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};

const dropzone = ref()

const dropzoneOpts = ref({
    url: 'https://httpbin.org/post',
    thumbnailWidth: 200,
    maxFilesize: 0.5,
    addRemoveLinks: true,
})

const fileAdded = (file) => {
    if (dropzone.value && dropzone.value.files.length > 1) {
      dropzone.value.removeFile(dropzone.value.files[0]);
    }
}

</script>

<template>
    <GuestLayout>
        <Head title="Register" />

        <form @submit.prevent="submit">
            <div class="mb-2">
                <Avatar class="mx-auto" @change="(value) => form.avatar = value"></Avatar>
                <input type="hidden" name="avatar" v-model="form.avatar">
            </div>
            <div>
                <InputLabel for="name" value="Nombre" />

                <TextInput
                    id="name"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.name"
                    required
                    autofocus
                    autocomplete="name"
                />

                <InputError class="mt-2" :message="form.errors.name" />
            </div>

            <div class="mt-4">
                <InputLabel for="email" value="Correo electrónico" />

                <TextInput
                    id="email"
                    type="email"
                    class="mt-1 block w-full"
                    v-model="form.email"
                    required
                    autocomplete="username"
                />

                <InputError class="mt-2" :message="form.errors.email" />
            </div>

            <div class="mt-4">
                <InputLabel for="phone" value="Número de teléfono" />
                <MazPhoneNumberInput default-country-code="SV" v-model="form.phone"></MazPhoneNumberInput>
                <InputError class="mt-2" :message="form.errors.phone" />
            </div>

            <div class="mt-4">
                <InputLabel for="interest" value="Preferencias musicales" />
                <Multiselect
                    v-model="form.interest"
                    mode="tags"
                    :close-on-select="false"
                    :searchable="true"
                    :options="genres.map((e) => ({ value: e.id, label: e.name}))">
                </Multiselect>
                <InputError class="mt-2" :message="form.errors.interest" />
            </div>

            <div class="mt-4">
                <InputLabel for="password" value="Contraseña" />

                <TextInput
                    id="password"
                    type="password"
                    class="mt-1 block w-full"
                    v-model="form.password"
                    required
                    autocomplete="new-password"
                />

                <InputError class="mt-2" :message="form.errors.password" />
            </div>

            <div class="mt-4">
                <InputLabel for="password_confirmation" value="Confirmar contraseña" />

                <TextInput
                    id="password_confirmation"
                    type="password"
                    class="mt-1 block w-full"
                    v-model="form.password_confirmation"
                    required
                    autocomplete="new-password"
                />

                <InputError class="mt-2" :message="form.errors.password_confirmation" />
            </div>

            <div class="flex items-center justify-end mt-4">
                <Link
                    :href="route('login')"
                    class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                    Ya poseo una cuenta?
                </Link>

                <PrimaryButton class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Registrarse
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>
